@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Entre aqui <a href="https://localhost:44373/Empresas">Cadastro de empresas</a>.</p>
</div>
